.alignleft,
img.left {
        float: left;
        margin: 0 5px 5px 0;
}

.alignright,
img.right {
        float: right;
        margin: 0 0 5px 5px;
}

.centered {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 8px;
}

.gravatar {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.status {
  background: #fff; 
  margin: -8px; padding: 8px;
}

.twitterdiv {
	float: right;
	padding: 15px;
	top: 0px;
	width: 30%;
	padding-left: 30px;
	padding-top: 30px;
	padding-right:0px;
}

.bubble
{
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 90% !important;
    float: left;
    margin-left: 15px;
    margin-top: 5px;

}

.bubble_date {
    float: left;
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    margin-top: -5px;
    text-transform: uppercase;
	color:#999;
}

.tweetdiv {
	width:100%;
	float:left;
	margin-bottom:15px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
}

.tweeticon {
	float:left;
	margin-right:5px;
	border-radius:5px;
}

.tweetusername {
	font-weight:bold;
	width:100%;
}

.tweetscreenname {
	color:#aaa;
	display:block;
}

.tweettext {
	float:left;
	display:block;
	margin-top:5px;
}

.tweetimg {
	width:90%;
	margin:5%;
	display:block;
	border-radius:2px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}

.tweetnamewrapper {
	float:left;
	height:50px;
	font-size:1.2em;
}

.tweetheader {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

